.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.ml-20 {
    margin-left: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}